
      .bold{
        font-weight: bold;
    }

    #shape{

      width: 100px;
      height: 100px;
      background-color: red;
      display: none;
      position: relative;
      top: 100px;
      left: 100px;

    }

    h1{
        text-align: center;
        background-color: pink;
        color: palevioletred;
    }
    #instruction{
        font-size: 16px;
        text-align: center;
        
    }

    #box{

      background-color: lightyellow;
      font-size: large;
      text-align: center;
    }